---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <div>
      <ThemeIcon />
      <Menu />
    </div>
    <Navigation />
  </nav>
</header>
<style>
  header {
    border-bottom: 1px dashed var(--color-border);
    padding: var(--space-3) 0;
    margin-bottom: var(--space-4);
    max-width: var(--max-width);
    margin: 0 auto;
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  nav {
   
  }
</style>
