<button
  type="button"
  aria-expanded="false"
  aria-controls="main-menu"
  aria-label="Toggle navigation menu"
  class="menu"
>
  <span>Menu</span>
  <span class="menu-icon" aria-hidden="true">
    <span></span>
    <span></span>
  </span>
</button>
